body {
    margin: 0;
    padding: 0;
    background-color: #D4F6FF;
}

.container-navbar {
    height: 15vh;
    background-color: #5c7b90;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-navbar>a>button {
    font-family: 'Poppins', sans-serif;
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 3rem;
    font-size: 1rem;
    background-color: #fafafa;
    cursor: pointer;
}

.container-navbar>a>button:hover {
    background-color: #DBE2EF;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    padding: 3rem;
}

.profile-img {
    height: 300px;
    border-radius: 50%;
}

.intro-container>h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

.intro-container>p {
    font-family: 'Poppins', sans-ser;
    font-size: 1.5rem;
    width: 40vw;
}

#resume>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
}

.resume-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem 10rem;
    font-family: 'Poppins', sans-serif;
}

.experience {
    padding: 1rem;
    margin: 0 10rem;
}

.experience>h3 {
    font-size: 1.5rem;
}

.experience>p {
    font-size: 1rem;
}



























@media (max-width: 700px) {
    .container-navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 38vh;
        gap: 15px;
    }

    .profile-img {
        height: 200px;
    }

    .intro-container>h1 {
        font-size: 2rem;
    }

    .intro-container>p {
        font-size: 1.2rem;
        align-self: center;
        width: 90%;
    }

    .resume-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: flex-start;
    }

    #resume>h2 {
        justify-content: flex-start;
        padding: 0.5rem;
        margin: 0.5rem 0;
    }

    .experience {
        padding: 0.5rem;
        margin: 0.5rem 0;
    }
    .experience>h3 {
        font-size: 1.2rem;
    }
    
    .experience>p {
        font-size: 1rem;
    }
}